@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto_Condensed-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto_Condensed-Bold.ttf');
    font-style: normal;
    font-weight: 600;
}
